@font-face
{
	font-family: cantarell;
	src: url('fonts/Cantarell-Regular.otf');
}

*
{
	font-family: cantarell;
}

.content
{
	margin-bottom: 5%;
	margin-top: 2%;

	border-top-left-radius: 5em 1em;
	border-top-right-radius: 5em 1em;
	border-bottom-right-radius: 5em 1em;
	border-bottom-left-radius: 5em 1em;

	padding: 15px;
	border: 4px solid #A77;
	box-shadow: 10px 10px 10px;
}
#ex1Slider .slider-selection
{
	background: #BABABA;
}
