<!doctype html>
<html ng-app="mpGame">
<head>
	<meta charset="utf-8">
	<title>{{mpg.title}}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">


	<!-- vendor JS -->
	<script src="vendor/components/angular.js/angular.min.js"></script>
	<script src="vendor/components/jquery/jquery.min.js"></script>
	<script src="vendor/components/bootstrap/js/bootstrap.min.js"></script>

	<script src="custom_vendor/glMatrix-0.9.5.min.js"></script>

	<link rel="stylesheet" href="custom_vendor/rangeslider/dist/rangeslider.css">
	<script src="custom_vendor/rangeslider/dist/rangeslider.js"></script>

	<!-- vendor CSS -->
	<link rel="stylesheet" type="text/css" href="vendor/components/bootstrap/css/bootstrap.min.css"></link>


	<!-- custom JS -->
	<script src="js/utils.js"></script>
	<script src="js/webSocket.js"></script>
	<script src="js/ui.js"></script>
	<script src="js/webGL.js"></script>
	<script src="js/storage.js"></script>

	<!-- custom CSS -->
	<link rel="stylesheet" type="text/css" href="css/style.css"></link>

</head>
<body onresize="canvResize()">
	<div id="mpGame" class="container" ng-controller="mpGameCtr as mpg" ng-app="mpGame" style="width:100%">

		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand">{{mpg.title}}</a>
			</div>
		</nav>


		<div class="wrapper" style="margin-top:70px;width:100%">

			<!-- Welcome Page -->
			<div ng-if="mpg.interface == 'welcome'">
				<h1>Willkommen</h1>
				<input type="text" name="wsServer" ng-model="mpg.WS_SERVER"></input>
				<button class="btn btn-success" ng-click="mpg.login()"><span class="glyphicon glyphicon-check"></span></button>
			</div>

			<!-- Lobby -->
			<div ng-if="mpg.interface == 'lobby'">
				<div class="col-sm-9 col-md-8 col-lg-8">

					<button ng-click="mpg.logout()" type="button" class="btn btn-warning" aria-label="Left Align">Logout</button>

					<video ng-click="mpg.savePic()" id="userPhotoVideo" style="width:64px;height:64px;float:right;">Der Video-Tag wird von diesem Browser nicht unterstützt!</video>
					<canvas ng-click="mpg.changePic()" id="userPhotoCanvas" width="64px" height="64px" style="float:right;"></canvas>

					<table ng-if="!mpg.getGamesEmpty()" style="margin:10px;width:100%;">
						<th>Name</th>
						<th>Spieler</th>
						<th>Maximum</th>
						<th>Beitreten</th>

						<tr ng-repeat="g in mpg.games">
							<td>{{g.name}}</td>
							<td>{{g.count}}</td>
							<td>{{g.maxCount}}</td>
							<td><button ng-click="mpg.joinGame(g.name)" title="Öffnen" type="button" class="btn btn-success" aria-label="Left Align"><span class="glyphicon glyphicon-check"></span></button></td>
						</tr>
					</table>
					<div ng-if="mpg.getGamesEmpty()" >
						Momentan gibt es leider Keine Spiele. Sei der Erste, der eines erstellt!
					</div>
				</div>

						<!-- Neues Spiel -->
				<div class="col-sm-6 col-md-4 col-lg-4">
					<table style="margin:10px;width:100%;">
						<th><span class="badge">Neues Anlegen</span></th>
						<th></th>
						<th></th>

						<tr>
							<td>Name:</input></td>
							<td><input style="width:100%" ng-model="mpg.newGame.name" type="text" placeholder="Name"></input></td>
							<td></td>
						</tr>
						<tr>
							<td>Maximale Spieler</td>
							<td><input type="range" min="2" max="20" data-rangeslider ng-model="mpg.newGame.maxCount"/></td>
							<td style="width:3em;text-align:right;">{{mpg.newGame.maxCount}}</td>
						</tr>
						<tr>
							<td>Anlegen</td>
							<td><button class="btn btn-success" ng-click="mpg.createGame()"><span class="glyphicon glyphicon-check"></span></button></td>
							<td></td>
						</tr>
					</table>
				</div>
			</div>

			<!-- Game -->
			<div ng-if="mpg.interface == 'inGame'">
				<div class="col-sm-12 col-md-12 col-lg-12">

					<div style="margin:5px;width:100%" class="badge">

						<button class="btn btn-warning" ng-click="mpg.leaveGame()" style="float:right"><span class="glyphicon glyphicon-remove"></span></button>

						<div style="clear:both;font-size:2em;">{{mpg.game.name}}</div>

						<div>
							<center>
								<canvas id="canv" style="width:100%;"></canvas>
							</center>
						</div>

					</div>


						<div><span id="canvFrames" style="color:orange;display:hidden;"></span></div>
					</div>
			</div>
		</div>
	</div>
</body>
</html>
