<!doctype html>
<html ng-app="mpGame">
<head>
	<meta charset="utf-8">
	<title>{{mpg.title}}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">


	<!-- vendor JS -->
	<script src="vendor/components/angular.js/angular.min.js"></script>
	<script src="vendor/components/jquery/jquery.min.js"></script>
	<script src="vendor/components/bootstrap/js/bootstrap.min.js"></script>

	<script src="custom_vendor/glMatrix-0.9.5.min.js"></script>

	<link rel="stylesheet" href="custom_vendor/rangeslider/dist/rangeslider.css">
	<script src="custom_vendor/rangeslider/dist/rangeslider.js"></script>

	<!-- vendor CSS -->
	<link rel="stylesheet" type="text/css" href="vendor/components/bootstrap/css/bootstrap.min.css"></link>


	<!-- custom JS -->
	<script src="js/utils.js"></script>
	<script src="js/webSocket.js"></script>
	<script src="js/ui.js"></script>
	<script src="js/rest.js"></script>
	<script src="js/webGL.js"></script>
	<script src="js/storage.js"></script>
	<script src="js/data.js"></script>

	<!-- custom CSS -->
	<link rel="stylesheet" type="text/css" href="css/style.css"></link>

</head>
<body onresize="canvResize()">
	<div id="mpGame" class="container" ng-controller="mpGameCtr as mpg" ng-app="mpGame">

		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand">{{mpg.title}}</a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul ng-if="mpg.npc" class="nav navbar-nav side-nav">
					<li ng-if="mpg.npc.isNew"><a><span class="badge">NEU</span></a></li>
					<li><a><div><center>Größe</center></div><div><input type="range" min="0.5" max="3" step="0.01" data-rangeslider ng-model="mpg.npc.s"/></div></a></li>
					<li><a><div><center>Winkel</center></div><div><input type="range" min="0" max="360" data-rangeslider ng-model="mpg.npc.a"/></div></a></li>
					<li ng-if="mpg.npc.type === 'enemy'"><a><div><center>Geschwindigkeit</center></div><div><input type="range" min="0.1" max="1" step="0.01" data-rangeslider ng-model="mpg.npc.v"/></div></a></li>
					<li><a><button ng-click="mpg.removeChoosenEntity()" type="button" class="btn btn-danger btn-sm" aria-label="Left Align"><span class="glyphicon glyphicon-remove"></span></button></a></li>
					<li><a><div><center>Koordinaten</center></div><div>{{mpg.npc.x | number:2}}/{{mpg.npc.y | number:2}}</div></a></li>
					</ul>
			</div>
		</nav>


		<div class="wrapper" style="margin-top:70px;">

			<!-- Welcome Page -->
			<div ng-if="mpg.interface == 'welcome'">
				<h1>Willkommen</h1>
				<input type="text" name="wsServer" ng-model="mpg.WS_SERVER"></input>
				<button class="btn btn-success" ng-click="mpg.login()"><span class="glyphicon glyphicon-check"></span></button>

			</div>

			<!-- Lobby -->
			<div ng-if="mpg.interface == 'lobby'">
				<div class="col-sm-6 col-md-6 col-lg-6">
					<button ng-click="mpg.logout()" type="button" class="btn btn-warning" aria-label="Left Align">Logout</button>
				  <button ng-click="mpg.readLobby()" type="button" class="btn btn-success" aria-label="Left Align"><span class="glyphicon glyphicon-refresh"></span></button>
					<table ng-if="mpg.games.length > 0" style="margin:10px;width:100%;">
						<th>Name</th>
						<th>Spieler</th>
						<th>Maximum</th>
						<th>Beitreten</th>

						<tr ng-repeat="g in mpg.games">
							<td>{{g.name}}</td>
							<td>{{g.count}}</td>
							<td>{{g.maxCount}}</td>
							<td><button ng-click="mpg.joinGame(g)" title="Öffnen" type="button" class="btn btn-success" aria-label="Left Align"><span class="glyphicon glyphicon-check"></span></button></td>
						</tr>
					</table>
					<div ng-if="mpg.games.length == 0">
						Momentan gibt es leider Keine Spiele. Sei der Erste, der eines erstellt!
					</div>
				</div>

						<!-- Neues Spiel -->
				<div class="col-sm-6 col-md-6 col-lg-6">
					<table style="margin:10px;width:100%;">
						<th><span class="badge">Neues Anlegen</span></th>
						<th></th>
						<th></th>

						<tr>
							<td>Name:</input></td>
							<td><input style="width:100%" ng-model="mpg.newGame.name" type="text" placeholder="Name"></input></td>
							<td></td>
						</tr>
						<tr>
							<td>Maximale Spieler</td>
							<td><input type="range" min="2" max="20" data-rangeslider ng-model="mpg.newGame.maxCount"/></td>
							<td style="width:3em;text-align:right;">{{mpg.newGame.maxCount}}</td>
						</tr>
						<tr>
							<td>Start</td>
							<td><button class="btn btn-success" ng-click="mpg.createGame()"><span class="glyphicon glyphicon-check"></span></button></td>
							<td></td>
						</tr>
					</table>
				</div>
			</div>

			<!-- Game -->
			<div ng-if="mpg.interface == 'inGame'">
				<div class="col-sm-12 col-md-10 col-lg-10">
					<span style="margin:5px;" class="badge">{{mpg.game.name}}</span>
					<button class="btn btn-warning" ng-click="mpg.leaveGame()"><span class="glyphicon glyphicon-remove"></span></button>


						<div>
							<center>
								<canvas id="canv" style="width:96%;"></canvas>
							</center>

						</div>
						<div><span id="canvFrames" style="color:orange;display:hidden;"></span></div>
					<button ng-click="mpg.setInterface('overview')" type="button" class="btn btn-default" aria-label="Left Align">Zurück</button>
					<button ng-if="mpg.loadedLevel.details.backgrounds.length > 0" ng-click="mpg.saveLevel(mpg.loadedLevel)" type="button" class="btn btn-default" aria-label="Left Align">Speichern</button>
				</div>



					<div class="col-sm-6 col-md-2 col-lg-2" style="margin-top:30px;">
						<div class="dropdown">
							<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								NPC
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								<li><a href="" ng-repeat="npc in mpg.npcs" ng-click="mpg.addEntity(npc)">{{npc.name}}</a></li>
							</ul>
						</div>
					</div>

					<div class="col-sm-6 col-md-2 col-lg-2" style="margin-top:30px;">
						<div class="dropdown">
							<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								Hintergrund
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								<li><a href="#" ng-repeat="bg in mpg.backgrounds" ng-click="mpg.addBackground(bg)">{{bg.name}}</a></li>
							</ul>
						</div>
					</div>


			</div>
		</div>
	</div>
</body>
</html>
